.App {
  text-align: center;
  background-color: #383a3f;
  min-height: 250vh;
}

.Palette-Select-Button {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  border: 'none';
  border: 2px;
  width: 50px;
  height: 50px;
  line-height: 40px;
  border-radius: 50%;
  border-color: transparent;
  border-style: 'solid';
  text-align: 'center';
}

.my-navbar{
  font-family: 'Playfair Display', serif;
  color: white;
  min-height: 5vh;
  letter-spacing: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  text-decoration: none;
}

.my-navbar:link {
  color: #ffffff;
}

.my-navbar:visited {
  color: #ffffff
}

.my-navbar:hover {
  color: #ffffff;
}

.fa-thin {
  color: #13bbef;
}


