.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 250vh;
}

.btn:active-within {
  border: none !important;
  outline: none !important;
}

.btn {
  border: none !important;
  outline: none !important;
  background: none;
  size: 600px;
}

.btn:focus-visible {
  outline-color: transparent;
  border-color: transparent;
}

.btn:focus-within {
  outline: none;
  border: none;
}

.material-symbols-outlined:hover {
  color: rgb(0, 0, 0);
}

.material-symbols-outlined:focus {
  outline: none;
  border: none;
}

.material-symbols-outlined {
  font-size: 96px;
  color: rgb(0, 0, 0);
  outline-color: transparent;
  border-color: transparent;
}

.material-symbols-sharp {
  font-size: 96px;
  color: rgb(0, 0, 0);
  outline-color: transparent;
  border-color: transparent;
}

.my-navbar{
  font-family: 'Quicksand', sans-serif;
  color: rgb(0, 0, 0);
  min-height: 5vh;
  letter-spacing: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  text-decoration: none;
}

.my-navbar:link {
  color: rgb(0, 0, 0)
}

.my-navbar:visited {
  color: rgb(0, 0, 0)
}

.my-navbar:hover {
  color: rgb(0, 0, 0);
}



