.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.my-navbar{
  font-family: 'Playfair Display', serif;
  background-color: #383a3f;
  min-height: 500vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.005em;
  text-align: center;
  justify-content: center;
  font-size: calc(1000px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
